# # # Define a host for the local machine
# # 
# # define host {
# #     use                     windows-server
# #     host_name               ad2012
# #     alias                   ad2012
# #     address                 10.46.50.71
# #     _address2               10.46.50.71
# #     
# # #    parents                 Routeur
# #     icon_image              win40.png
# #     statusmap_image         win40.png
# # }
# # 
# # 
# # 
# # ##PING SERVICE 
# # define service {
# #     use                     generic-service
# #     host_name               ad2012
# #     service_description     PING
# #     check_command           check-host-alive
# # }
# # 
# # ##PING SERVICE ADRESSE 2
# # define service {
# #     use                     generic-service
# #     host_name               ad2012
# #     service_description     PING 2
# #     check_command           pingCustom!$_HOSTADDRESS2$
# # }
# # 
# # ##DISK STORAGE
# # define service {
# # 
# #     use                     generic-service
# #     host_name               ad2012
# #     service_description     DISK C
# #     check_command           check_nt_disk!C!80!90
# # }
# # 
# # ##CPU LOAD
# # define service {
# # 
# #     use                     generic-service
# #     host_name               ad2012
# #     service_description     CPU LOAD
# #     check_command           check_nt_cpuload!5,80,90
# # }
# # 


define host {
    use                     windows-server
    host_name               ad2012
    alias                   ad2012
    address                 10.46.50.71

#    parents                 Routeur
    icon_image              win40.png
    statusmap_image         win40.png
}

define hostgroup {

    hostgroup_name          windows-servers         ; The name of the hostgroup
    alias                   Windows Servers         ; Long name of the group
}

##Active Directory
define service {
    use                     generic-service
    host_name               ad2012
    service_description     Service AD DS
    check_command           check_nt!SERVICESTATE!-d SHOWALL -l "Active Directory Domain Services"
    max_check_attempts      3
    check_interval          5
    contact_groups          admins
}

##DNS
define service {
    use                     generic-service
    host_name               ad2012
    service_description     Service DNS
    check_command           check_nt!SERVICESTATE!-d SHOWALL -l "DNS Server"
    max_check_attempts      3
    check_interval          5
    contact_groups          admins
}

##PING SERVICE
define service {
    use                     generic-service
    host_name               ad2012
    service_description     PING
    check_command           check-host-alive
}


##DISK STORAGE
define service {

    use                     generic-service
    host_name               ad2012
    service_description     DISK C
    check_command           check_nt_disk!C!80!90
}

##CPU LOAD
define service {

    use                     generic-service
    host_name               ad2012
    service_description     CPU LOAD
    check_command           check_nt_cpuload!5,80,90
}
