define host {
    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               bdd1-serv
    alias                   bdd1-serv
    address                 10.46.50.13
    hostgroups              linux-servers
#    parents               Routeur
    icon_image             linux40.png
    statusmap_image        linux40.png
}

##Check MySQL
define service {
    use                     local-service
    host_name               bdd1-serv
    service_description     MySQL
    check_command           check_tcp!3306
    max_check_attempts      3
    check_interval          5
    contact_groups          admins
}

##Check PostgreSQL
define service {
    use                     local-service
    host_name               bdd1-serv
    service_description     PostgreSQL
    check_command           check_tcp!5432
    max_check_attempts      3
    check_interval          5
    contact_groups          admins
}
##Check PING
define service {
    use                     local-service           ; Name of service template to use
    host_name               bdd1-serv
    service_description     PING
    check_command           check-host-alive
}
##Check SSH
define service {
    use                     local-service           ; Name of service template to use
    host_name               bdd1-serv
    service_description     SSH
    check_command           check_ssh
}
##Check load
define service {
    use                     local-service           ; Name of service template to use
    host_name               bdd1-serv
    service_description     NRPE load
    check_command           check_nrpe!check_load
}
##Check disk
define service {
    use                     local-service
    host_name               bdd1-serv
    service_description     NRPE disk
    check_command           check_nrpe!check_disk
}
##Check user
define service {
    use                     local-service           ; Name of service template to use
    host_name               bdd1-serv
    service_description     NRPE users
    check_command           check_nrpe!check_users
}
#  define host {
#     use                     linux-server            ; Name of host template to use
#                                                     ; This host definition will inherit all variables that are defined
#                                                     ; in (or inherited by) the linux-server host template definition.
#     host_name               bdd1-serv
#     alias                   bdd1-serv
#     address                 10.46.50.13
#     hostgroups              linux-servers
# #    parents               Routeur
#     icon_image             linux40.png
#     statusmap_image        linux40.png
# }
# ##Check PING
# define service {
#     use                     local-service           ; Name of service template to use
#     host_name               bdd1-serv
#     service_description     PING
#     check_command           check-host-alive
# }
# ##Check SSH
# define service {
#     use                     local-service           ; Name of service template to use
#     host_name               bdd1-serv
#     service_description     SSH
#     check_command           check_ssh
# }
# ##Check load
# define service {
#     use                     local-service           ; Name of service template to use
#     host_name               bdd1-serv
#     service_description     NRPE load
#     check_command           check_nrpe!check_load
# }
# ##Check user
# define service {
#     use                     local-service           ; Name of service template to use
#     host_name               bdd1-serv
#     service_description     NRPE users
#     check_command           check_nrpe!check_users
# }
