define host {

    use                     windows-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               ServSauvegarde2
    alias                   ServSauvegarde2
    address                 10.46.50.52
    hostgroups              linux-servers

#    parents               Routeur

    icon_image             linux40.png
    statusmap_image        wlinux40.png

}

##PING SERVICE
define service {
    use                     generic-service
    host_name               ServSauvegarde2
    service_description     PING
    check_command           check-host-alive
}

##PING SERVICE ADRESSE 2
define service {
    use                     generic-service
    host_name               ServSauvegarde2
    service_description     PING 2
    check_command           pingCustom!$_HOSTADDRESS2$
}

##DISK STORAGE
define service {

    use                     generic-service
    host_name               ServSauvegarde2
    service_description     DISK C
    check_command           check_nt_disk!C!80!90
}
##CPU LOAD
define service {

    use                     generic-service
    host_name               ServSauvegarde2
    service_description     CPU LOAD
    check_command           check_nt_cpuload!5,80,90
}
# # Define a host for the local machine
# 
# define host {
# 
#     use                     windows-server            ; Name of host template to use
#                                                     ; This host definition will inherit all variables that are defined
#                                                     ; in (or inherited by) the linux-server host template definition.
#     host_name               ServSauvegarde2
#     alias                   ServSauvegarde2
#     address                 10.46.50.52
# 
# #    parents		   Routeur                
# 
#     icon_image             win40.png
#     statusmap_image        win40.png
# 
#     hostgroup_name	windows-servers
#     alias		windows Servers
# }
# 
# ##PING SERVICE 
# define service {
#     use                     generic-service
#     host_name               ServSauvegarde2
#     service_description     PING
#     check_command           check-host-alive
# }
# 
# ##PING SERVICE ADRESSE 2
# define service {
#     use                     generic-service
#     host_name               ServSauvegarde2
#     service_description     PING 2
#     check_command           pingCustom!$_HOSTADDRESS2$
# }
# 
# ##DISK STORAGE
# define service {
# 
#     use                     generic-service
#     host_name               ServSauvegarde2
#     service_description     DISK C
#     check_command           check_nt_disk!C!80!90
# }
# ##CPU LOAD
# define service {
# 
#     use                     generic-service
#     host_name               ServSauvegarde2
#     service_description     CPU LOAD
#     check_command           check_nt_cpuload!5,80,90
# }
# 
