define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               web2-dmz
    alias                   web2-dmz
    address                 10.46.40.22
    hostgroups              linux-servers

#    parents               Routeur

    icon_image             linux40.png
    statusmap_image        linux40.png

}

##Check PING
define service {

    use                     local-service           ; Name of service template to use
    host_name               web2-dmz
    service_description     PING
    check_command           check-host-alive
}

##Check SSH
define service {

    use                     local-service           ; Name of service template to use
    host_name               web2-dmz
    service_description     SSH
    check_command           check_ssh
}

##Check load
define service {

    use                     local-service           ; Name of service template to use
    host_name               web2-dmz
    service_description     NRPE load
    check_command           check_nrpe!check_load
}

##Check disk
define service {
    use                     local-service
    host_name               web2-dmz
    service_description     NRPE disk
    check_command           check_nrpe!check_disk
}

##Check user
define service {

    use                     local-service           ; Name of service template to use
    host_name               web2-dmz
    service_description     NRPE users
    check_command           check_nrpe!check_users
}

##Check http
define service {
    host_name           web2-dmz
    service_description HTTP
    check_command       check_http
    max_check_attempts  3
    contact_groups      admins
}
# define host {
# 
#     use                     linux-server            ; Name of host template to use
#                                                     ; This host definition will inherit all variables that are defined
#                                                     ; in (or inherited by) the linux-server host template definition.
#     host_name               SiteWeb2
#     alias                   SiteWeb2
#     address                 10.46.40.23
#     hostgroups		    linux-servers
# 
# #    parents		   Routeur
# 
#     icon_image             linux40.png
#     statusmap_image        linux40.png
# 
# }
# 
# ##Check PING
# define service {
# 
#     use                     local-service           ; Name of service template to use
#     host_name               SiteWeb2
#     service_description     PING
#     check_command           check-host-alive
# }
# 
# ##Check SSH
# define service {
# 
#     use                     local-service           ; Name of service template to use
#     host_name               SiteWeb2
#     service_description     SSH
#     check_command           check_ssh
# }
# 
# ##Check load
# define service {
# 
#     use                     local-service           ; Name of service template to use
#     host_name               SiteWeb2
#     service_description     NRPE load
#     check_command           check_nrpe!check_load
# }
# 
# ##Check user
# define service {
# 
#     use                     local-service           ; Name of service template to use
#     host_name               SiteWeb2
#     service_description     NRPE users
#     check_command           check_nrpe!check_users
# }
